body {
    font-family: Arial;
    background: linear-gradient(120deg, #c7d2fe, #e0e7ff);
}

.card {
    width: 360px;
    background: white;
    padding: 25px;
    margin: 50px auto;
    border-radius: 12px;
}

input, button {
    width: 100%;
    padding: 9px;
    margin: 6px 0;
}

button {
    background: #4f46e5;
    color: white;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
